#loading{
    width:100vw;
    height:100vh;
    display: block;
    background:red;
    position:fixed;
    top:0;
    left:0;
    z-index:99999999999999999999;
    background:#fff;
}


.loading{
            width: 70px;
            height: 7px;
            margin: 0 auto;
            position:absolute;
            top:calc( 30vh + 35px );
            left:calc(50vw - 35px );
            text-align: center;
        }
        .loading span{
            display: inline-block;
            width: 10%;
            height: 100%;
            margin-right: 0.2vw;
            background: #000;
            -webkit-animation: load2 0.75s ease infinite;
        }
        .loading span:last-child{
            margin-right: 0px;
        }
        @-webkit-keyframes load2{
            0%{
                opacity: 1;
                -webkit-transform: scale(1.2);
            }
            100%{
                opacity: .2;
                -webkit-transform: scale(.2);
            }
        }
        .loading span.child7{
            -webkit-animation-delay:0.13s;
        }
        .loading span.child8{
            -webkit-animation-delay:0.26s;
        }
        .loading span.child9{
            -webkit-animation-delay:0.39s;
        }
        .loading span.child10{
            -webkit-animation-delay:0.52s;
        }
        .loading span.child11{
            -webkit-animation-delay:0.65s;
        }
