*{
    margin:0;
    padding: 0;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}
#page,#menu{
    height:100vh;
    position: fixed;
    top:0;
}

#menu{
    width: 70vw;
    left:65vw;
    background: #bbb;
}
#page{
    width:100vw;
    left:0;
    background:#f2f2f2;
    box-shadow: 10px 0 10px rgba(0,0,0,0.2);
}
#mask{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    display: none;
    background:rgba(0,0,0,0.5);
    opacity:1;
}
#menu>img,#page>img{
    width:100vw;
}
/*强制竖屏*/
#orientation{
    width:100vw;
    height:100vh;
    background:#eee;
    position:fixed;
    top:0;
    left:0;
}
@media screen and (orientation: portrait) {
    #orientation{display:none;}
}
@media screen and (orientation: landscape) {
    #orientation{display:block;}
}

.container{
    width:100%;
}
.row{
    margin:0 auto;
}
@media screen and (min-width:1px) and (max-width:992px){
    .row{
        width:100%;
        margin:0;
    }
}

@media screen and (min-width:992px) and (max-width:1366px){
    .row{
        width:98% !important;
    }

}

@media screen and (min-width:1367px) and (max-width:1920px){
    .row{
        width:84%;
    }
}
@media (min-width:1921px){
    .row{
        width:90%;
    }
}

.header{
    background:#fff;
    height:70px;
}