*{
    margin:0;
    padding: 0;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}
#page,#menu{
    height:100vh;
    position: fixed;
    top:0;
}

#menu{
    width: 70vw;
    left:65vw;
    background: #bbb;
}
#page{
    width:100vw;
    left:0;
    background:#383838;
    box-shadow: 10px 0 10px rgba(0,0,0,0.2);
}
#mask{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    display: none;
    background:rgba(0,0,0,0.5);
    opacity:1;
}
#menu>img,#page>img{
    width:100vw;
}
